@font-face {
  font-family: twl;
  src: url(../font/66bdbff11e188b5245c6ce47_TWKLausanne-400.ttf);
}
@font-face {
  font-family: regular;
  src: url(../font/66bdbfd4186d4f1e46bc84ab_Tartuffo-Regular.ttf);
}
@font-face {
  font-family: regular2;
  src: url(../font/66bdbfce81e82ca87a30c297_Tartuffo-Light.ttf);
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  width: 100%;
  overflow-x: hidden;
  background-color: #0b0a0e;
}
.page1 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.nav {
  width: 100%;
  height: 10vh;

  color: #f3f1f1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 2.5vw;
  font-family: twl;
}
.nav-part1 {
  padding: 1vh;

  border-left: 0.2vw solid #f3f1f1;
}
.nav-part1 h5 {
  font-weight: 400;
}
.nav i {
  font-size: 2.5vw;
  font-weight: 400;
}
.img-section {
  width: 100%;
  height: 100vh;
  background-color: #0b0a0e;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}
.img-section img {
  position: absolute;
  width: 30%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.header {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 40vh;
  margin-top: 13vh;
}
.header-part1{
font-size: 25vw;
}
.header h1 {
  text-align: center;

  text-transform: capitalize;
  color: #f3f1f1;

  /* object-fit: cover; */

  font-size: 15.5vw;
  font-family: regular;
  font-weight: 400;
}
.page1-part1 {
  width: 100%;
  height: 100vh;
  background-color: #f3f1f1;
  position: absolute;
  top: -105vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.page1-part1 .nav {
  color: #0b0a0e;
}
.page1-part1 .nav i {
  color: #0b0a0e;
}
.menu-section {
  width: 100%;
  height: 90vh;
  background-color: #f3f1f1;
  align-items: center;
  justify-content: center;
  display: flex;
}
.menu {
  width: 80%;
  height: 100%;
  align-items: baseline;

  justify-content: center;
  display: flex;
  padding: 0 5vw;
  flex-direction: column;
}
.menu h1 {
  font-size: 5vw;
  font-weight: 400;
  font-family: regular;
  text-transform: capitalize;
  /* overflow: hidden; */
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.char {
  transform: translateY(115px); 
  opacity: 0;  
}

.about {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vw;
  justify-content: center;
}
.text {
  width: 100%;
  height: 40vh;
  display: flex;

  flex-direction: column;
  justify-content: end;
  align-items: baseline;
}
.text h6 {
  text-transform: uppercase;
  font-family: twl;
  font-size: 0.9vw;
  line-height: 1.3;
  font-weight: 300;
}
.ri-arrow-right-line {
  opacity: 0;
}
.images {
  width: 100%;
  opacity: 1;
  height: 50vh;
  position: relative;
  overflow: hidden;

  padding: 1vw;
}
.images img {
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}
.images img.active {
  display: block;
}
.page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #0b0a0e;
  padding: 4vw;
}
.booking{
  width: 100%;
  height: 35vh;
    color: #f3f1f1;
    border-top: 1px solid rgb(155, 151, 151);
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 1vw;
}
.book-part1{
  width: 25%;
  height: 25vh;
 

}
.book-part1 img{
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: fill;
  background-position: center;
}
.book-part2{
  width: 25%;
  height: 25vh;
   
}
.book-part2 h2{
  font-family: regular2;
  font-weight: 400;
  font-size: 2.5vw;
}
.book-part2 h4{
  font-family: twl;
  font-size: 1.3vw;
  font-weight: 400;
  opacity: 0.5;
}
.book-part3{
  width: 30%;
  height: 25vh;
 
}
.book-part3 h5{
  font-family: twl;
  font-size: 1.3vw;
  font-weight: 200;
  opacity: 0.5;
}

.book-part4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.8vw;
}

.book-part4 h4 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  padding: 1vw;
  border: 1px solid silver;
  font-weight: 500;
  font-family: twl;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  border-radius: 2vw;
  overflow: hidden;
  /* margin-bottom: 2vh; */
  /* border-radius: 2vw; */
  /* font-size: 18px; */
}

.book-part4 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

.book-part4 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

.book-part4 h4 a {
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

.book-part4 h4:hover a {
  color: black;
}/* .page3{
  width: 100%;
  height: 100vh;
 } */
 .lastPage1 {
  width: 100%;
  min-height: 100vh;
  /* background-color: red; */
  font-family: twl;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  display: flex;
  color: #f3f1f1;
  flex-direction: column;
}
.lastPage1 h1 {
  font-family: regular;
  font-weight: 400;

  font-size: 8vw;
  margin-bottom: 5vh;
}
.lastPage1 h3 {
  /* font-family: twl; */
  font-weight: 400;
  font-size: 1.3vw;
  margin-bottom: 13vh;
}
.lastPage1 form {
  width: 90%;
  /* background-color: aqua; */
  height: 8vh;
  padding: 0.5vw;
  align-items: center;
  justify-content: center;
  display: flex;
  /* position: relative; */
}
.lastPage1 input {
  width: 80%;
  height: 100%;
  font-size: 1vw;
  outline: none;
  font-family: twl; 
  padding: 0 2vw;
  border-radius: 8vh;
  color: #f3f1f1;
  background-color: #1B1A1E;
  /* border: 1px solid silver; */
  border: none;
}
.lastPage1 button {
  font-size: 2vw;
  width: 8vw;
  height: 100%;
  margin-left: 1vw;
  background-color:#f3f1f1;
  border: 1px solid silver;
  color: #0b0a0e;
  border-radius: 5vw;
}
.lastPage2 {
  width: 80%;
  min-height: 30vh;
  display: flex;
  /* background-color: blue; */
  align-items: center;
  justify-content: space-between;
}
.last-part1 {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  justify-content: space-evenly;
}
.last-part11 h3 {
  margin-bottom: 0.5vw;
  text-transform: capitalize;
  text-align: center;
}
.last-part2 {
  border-left: 1px solid white;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
  justify-content: space-evenly;
}
.lastPage1 h5{
  /* font-family: twl; */
  font-weight: 400;
  font-size: 1vw;
  text-align: center;
}
