@font-face {
  font-family: nb;
  src: url(../css/font/NBInternationalProBoo.ttf);
}
  * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: nb;
  }
  html,
  body {
    width: 100%;
    height: 100%;
  }
  .main {
    width: 100%;
  }
  .page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #F8F8F8;
  }
  .marquee{
    
    position: relative;
    height: 8vh;
    display: flex;
    background-color: black;
    width: 100%;
  }
  .marquee-part1 h3{
    font-size: 1.5vw;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    color: snow;
    
  }
  .marquee-part1{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
  }
  .marquee-part1 i{
    font-size: 0.5vw;
    color: snow;
    padding: 0vw 0.5vw;
    padding-top: 0.5vw;
    
  }
  .section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image {
    width: 50%;
    height: 100vh;
    
  }
  .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
  }
  .form-section {
    width: 50%;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .form-part1 {
    width: 80%;
    height: 80%;
  
    align-items: center;
    justify-content: left;
    display: flex;
    flex-direction: column;
  }
  form {
    width: 100%;
    display: flex;
  
    flex-direction: column;
    align-items: center;
  }
  form h3 {
    color: snow;
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 1vw;
  }
  form :nth-child(n+2){
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 2vw;
  }
  span{
    color: #551A8B;
    background-color: transparent;
    border: none;
    font-size: 1.5vw;
  }
  #one{
    color: snow;
    
    font-size: 1.5vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 2vw;
    width: 100%;
  }
  #resend{
  background-color: transparent;
    border: none;
    font-size: 1.5vw;
    color: #551A8B;
    width: 100%;
  
  }
  
  .form-part1 h2 {
    font-size: 1.5vw;
    color: snow;
    padding-bottom: 1vw;
    font-weight: 400;
  }
  .form-part1 h4 {
    font-size: 1.1vw;
    color: snow;
    font-weight: 400;
    padding-bottom: 1vw;
  }
  .form-part1 input,
  .form-part1 button {
    width: 80%;
    height: 8vh;
    margin: 0.5vw 0;
    padding: 10px;
    font-size: 1.5vw;
    border: none;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .form-part1 button:hover {
    transition: 0.5s;
    color: snow;
    background-color: black;
    border: 0.1vw solid white;
  }
  .form-part1 button {
    background-color: snow;
    color: black;
    cursor: pointer;
  }
  .form-part1 h3{
    font-size: 1.5vw;
    color: snow;
    font-weight: 400;
    padding: 1vw;
    text-align: center;
    margin: 1vw 0 1vw 0;
  }
  
  input {
    background-color: snow;
    border: none;
    border-radius: 1.5px;
    color: rgb(0, 0, 0);
    width: 50%;
    height: 4vh;
    outline: none;
    font-size: 1vw;
  }
  .form-part1 input::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1.3vw;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
