@font-face {
    font-family: twl;
    src: url(../font/66bdbff11e188b5245c6ce47_TWKLausanne-400.ttf);
  }
  @font-face {
    font-family: regular;
    src: url(../font/66bdbfd4186d4f1e46bc84ab_Tartuffo-Regular.ttf);
  }
  @font-face {
    font-family: regular2;
    src: url(../font/66bdbfce81e82ca87a30c297_Tartuffo-Light.ttf);
  }
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }
  .main {
    width: 100%;
    overflow-x: hidden;
    background-color: #0b0a0e;
  }
  .page1 {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .backimg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
  }
  .backimg img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    filter: brightness(70%);
  }
  .nav {
    width: 100%;
    height: 20vh;
    position: relative;
    color: #f3f1f1;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 2.5vw;
    font-family: twl;
  }
  .nav-part1 {
    padding: 1vh;
  
    border-left: 0.2vw solid #f3f1f1;
  }
  .nav-part1 h5 {
    font-weight: 400;
    font-size: 0.8vw;
  }
  .nav i {
    font-size: 2.3vw;
    font-weight: 400;
  }
  .nav h2 {
    font-family: regular;
    font-weight: 400;
    font-size: 2.5vw;
    margin-right: 8vw;
  }
  .img-section {
    width: 100%;
    height: 100vh;
    background-color: #0b0a0e;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
  }
  .img-section img {
    position: absolute;
    width: 30%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
  }
  .middle {
    margin-top: 15vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #f3f1f1;
    position: relative;
    flex-direction: column;
    /* background-color: aqua; */
  }
  .middle h1 {
    font-family: regular;
    font-weight: 400;
    font-size: 8vw;
    color: white;
  }
  .middle h4 {
    font-family: twl;
    font-weight: 300;
    opacity: 0.9;
    font-size: 1.2vw;
  
    text-align: center;
  }
  .header {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 40vh;
    margin-top: 13vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .header h4 {
    font-family: twl;
    font-weight: 300;
    opacity: 0.9;
    font-size: 1.2vw;
    color: #f3f1f1;
    text-align: center;
  }
  .button {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 25%;
    margin-top: 10vh;
    height: 10vh;
    gap: 2vw;
  }
  .button button {
    width: 100%;
    height: 7vh;
    font-family: twl;
    font-weight: 400;
    /* background-color: transparent; */
    text-transform: capitalize;
    /* outline: none; */
    border-radius: 2vw;
    border: none;
    cursor: pointer;
  }
  .button a{
    text-decoration: none;
    color: #0b0a0e;
  }
  .page1-part1 {
    width: 100%;
    height: 100vh;
    background-color: #f3f1f1;
    position: absolute;
    top: -105vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .page1-part1 .nav {
    color: #0b0a0e;
  }
  .page1-part1 .nav i {
    color: #0b0a0e;
  }
  .menu-section {
    width: 100%;
    height: 90vh;
    background-color: #f3f1f1;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .menu {
    width: 80%;
    height: 100%;
    align-items: baseline;
  
    justify-content: center;
    display: flex;
    padding: 0 5vw;
    flex-direction: column;
  }
  .menu h1 {
    font-size: 5vw;
    font-weight: 400;
    font-family: regular;
    text-transform: capitalize;
    /* overflow: hidden; */
    cursor: pointer;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
.menu a{
    color: black;
    text-decoration: none;
}


  .char {
    transform: translateY(115px);
    opacity: 0;
  }
  
  .about {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5vw;
    justify-content: center;
  }
  .text {
    width: 100%;
    height: 40vh;
    display: flex;
  
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
  }
  .text h6 {
    text-transform: uppercase;
    font-family: twl;
    font-size: 0.9vw;
    line-height: 1.3;
    font-weight: 300;
  }
  .ri-arrow-right-line {
    opacity: 0;
  }
  .images {
    width: 100%;
    opacity: 1;
    height: 50vh;
    position: relative;
    overflow: hidden;
  
    padding: 1vw;
  }
  .images img {
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
  }
  .images img.active {
    display: block;
  }
  .page2 {
    width: 100%;
    min-height: 400vh;
    background-color: #f3f1f1;
    padding: 2.5vw;
  }
  .page2 .text {
    height: 80vh;
    width: 95%;
    margin-top: 15vh;
    align-items: center;
    justify-content: left;
    display: flex;
    text-align: left;
  }
  .page2 .text h1 {
    font-family: regular;
    font-size: 5vw;
    font-weight: 400;
    line-height: 1;
  }
  .page2 .text span {
    width: 2.5vw;
    height: 5vh;
  }
  .middle2 {
    width: 100%;
    height: 40vh;
  
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding: 0 8vw;
  }
  .middle2-part1 {
    width: 25%;
    height: 30vh;
  }
  .middle2-part1 img {
    width: 100%;
    height: 100%;
  
    background-position: center;
    object-fit: contain;
    background-size: cover;
  }
  .middle2-part2 {
    width: 40%;
    height: 30vh;
    padding: 1vw;
  }
  .middle2-part2 h3 {
    text-align: center;
  
    font-family: twl;
    font-size: 1.2vw;
    font-weight: 1;
    line-height: 1.5;
  }
  .middle3 {
    width: 100%;
    height: 100vh;
     
     
    justify-content: space-between;
    display: flex;
   
  }
  .middle3-part1 {
    width: 35%;
    height: 80vh;
    
    margin-top: 15vh;
    
  }
  .middle3-part1 h3{
    text-align: left;
  /* padding: 2vw; */
    font-family: twl;
    font-size: 1.2vw;
   
    font-weight: 1;
    line-height: 1.5;
  }
  .button1{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 5vh;
  } 
  .button1 button{
    width: 35%;
    height: 7vh;
    font-family: twl;
    font-weight: 400;
    background-color: #0b0a0e;
    color: white;
    text-transform: capitalize;
     
    border-radius: 2vw;
    border: none;
    cursor: pointer;
  }
  .button1 a{
    text-decoration: none;
    color: white;
  }
  .middle3-part2 {
    width: 65%;
    height: 100vh;
   
    padding: 0 2vw;
  }
  .middle3-part2 img {
    width: 100%;
    height: 100%;
  
    background-position: center;
    object-fit:contain;
    background-size: cover;
  }
  .middle4 {
    min-height: 100vh;
    width: 100%;
    border-bottom: 1px solid rgb(155, 151, 151);
    padding: 4vw;
  }
  .booking{
    width: 100%;
    height: 35vh;
      color: #0b0a0e;
      border-top: 1px solid rgb(155, 151, 151);
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 1vw;
  }
  .book-part1{
    width: 25%;
    height: 30vh;
   
  
  }
  .book-part1 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
  }
  .book-part2{
    width: 25%;
    height: 30vh;
     
  }
  .book-part2 h2{
    font-family: regular;
    font-weight: 400;
    font-size: 2.5vw;
  }
  .book-part2 h4{
    font-family: twl;
    font-size: 1.3vw;
    font-weight: 400;
    opacity: 0.5;
  }
  .book-part3{
    width: 30%;
    height: 30vh;
   
  }
  .book-part3 h5{
    font-family: twl;
    font-size: 1.3vw;
    font-weight: 200;
    opacity: 0.5;
  }
  .book-part4{
    width: 10%;
    height: 30vh;
   
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .book-part4 button{
    width: 100%;
    height: 7vh;
    font-family: twl;
    font-weight: 400;
    /* background-color: transparent; */
    text-transform: capitalize;
    /* outline: none; */
    border: 1px solid black;
    border-radius: 2vw;
    margin-bottom: 2vh;
    cursor: pointer;
  }

  .middle5{
    width: 100%;
    height: 180vh;
   display: flex;
   padding-inline: 2VW;
   justify-content: space-between;
   align-items: center; 
  }
  .middle5-part1{
    width: 50%;
    height: 90%; 
  }
  .middle5-part1 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .middle5-part2{
    width: 45%;
    height: 90%;
    padding-inline: 4vw;
    font-family: twl;
    align-items: center;
    justify-content: left; 
    display:block;
    flex-direction: column;
    
  }
  .middle5-part2>:first-child{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5vw;
    letter-spacing: 0.2vw;
  }
  .middle5-part2>:nth-child(2){
    margin-top: 5vh;
    font-weight: 400;
    font-size: 1.5vw;
    text-transform: capitalize;
    line-height: 1.4;
    text-align: left;
  }
  .middle5-part2>:nth-last-child(2){
    text-transform: uppercase;
    letter-spacing: 0.2vw;
    font-weight: 400;
    font-size: 1.5vw;
    margin-top: 5vh;
  }
  .middle5-part3{
    width:80%;
    height: 25vh;
    margin-top: 5vh; 
  }
  .middle5-part3 img{
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .details{
    width: 90%;
    min-height: 50vh;
    margin-top: 5vh; 
  }
  .detail1{
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
     
    justify-content: space-between;
    border-bottom: 1px solid black;
  }
  .detail2{
    width: 50%;
  }
  .detail2 h3{
    font-weight: 500;
    font-size: 1.3vw; 
    text-transform: uppercase;
  }
  .detail3{
    width: 50%;
  }
   .detail3 h3{
    font-size: 1.3vw;
    text-transform: capitalize;
    font-weight: 400;
   }